.wrapper{
    border: .3px solid rgb(80, 77, 77);
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*
const pixDiv = document.createElement("div");
pixDiv.style.width = `${divDimensions}px`;
pixDiv.style.height = `${divDimensions}px`;
pixDiv.style.backgroundColor = "lightgrey";
//pixDiv.style.borderTop = "0.8px solid black";
//pixDiv.style.borderLeft = "0.8px solid black";
pixDiv.style.margin = "0px";
pixDiv.classList.add("div-clone");

const clonePixDiv = pixDiv.cloneNode(true);